/* 
    Document   : ConstantsViewer
    Created on : 15-Jan-2014, 10:18:32 PM
    Author     : Vidyasagar
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
    -fx-font-family: "Tahoma";
}

#Constants-File-Editor {
   -fx-font-size: 20pt;
   -fx-font-family: "Tahoma";

}

.table-view *.scroll-bar:horizontal *.increment-button,
.table-view *.scroll-bar:horizontal *.decrement-button {
    -fx-background-color: null;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-padding: 0;
}

.table-view *.scroll-bar:horizontal *.increment-arrow, 
.table-view *.scroll-bar:horizontal *.decrement-arrow {
    -fx-background-color: null;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-padding: 0;
    -fx-shape: null;
}

#Delete-Button:hover {
    -fx-border-color: red 
}

#Add-Button:hover {
    -fx-border-color: green;   
}

#Reload-Button:hover{
    -fx-border-color: blueviolet;
}

#Reload-Button{
    -fx-font-size: 12pt;
    -fx-wrap-text: false;
}